@inject IModalService ModalService
@inject ContactService ServiceContact

<div class="container">
    <div class="form-group">
        Are you sure you want to delete the record of @Contact.FirstName @Contact.LastName?
    </div>

    <button class="btn btn-danger" @onclick="(() => DeleteContact(Contact.Id))">
        Yes
    </button>

    <button @onclick="Modal.Cancel" class="btn btn-primary">No</button>
</div>

@code {
    Contact Contact { get; set; }
    [Parameter] public int Id { get; set; }
    [CascadingParameter] BlazoredModalInstance Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Contact = new Contact();

        if (Id != 0)
        {
            Contact = await ServiceContact.GetContactByIdAsync(Id);
        }
    }

    private async void DeleteContact(int id)
    {
        await ServiceContact.DeleteContactAsync(id);
        Modal.Close(ModalResult.Ok($"The user said 'Yes'"));
    }
}
