@page "/"

    <div>
        <h1 align="center">Contact Manager</h1>
        <br />
        <br />
        <img class="img-fluid mx-auto d-block" src="/images/home/logo.png" alt="contact" width="400" height="346" />
    </div>
