@page "/login"
@inject AccountService AuthService
@inject NavigationManager NavigationManager

<div class="container col-6">
    @if (_showErrors)
    {
        <div class="alert alert-danger" role="alert">
            <p>@_error</p>
        </div>
    }

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <EditForm @ref="LoginForm" Model="_loginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="email">Email address</label>
                    <InputText Id="email" Class="form-control" @bind-Value="_loginModel.Email" />
                    <ValidationMessage For="@(() => _loginModel.Email)" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <InputText Id="password" type="password" Class="form-control" @bind-Value="_loginModel.Password" />
                    <ValidationMessage For="@(() => _loginModel.Password)" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
</div>

@code {

    private LoginModel _loginModel = new LoginModel();
    private bool _showErrors;
    private string _error = "";
    EditForm LoginForm { get; set; }

    [CascadingParameter] 
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;

        // If user is already logged in then redirect to Home Page
        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task HandleLogin()
    {
        _showErrors = false;

        var result = await AuthService.Login(_loginModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            _error = result.Error;
            _showErrors = true;
        }
    }
}
